.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.banner {
    animation: transitionIn 0.75s;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.nav-item {
    margin-left: 5rem;
    
}

.nav-item:hover{
    transform: scale(1.15);

}

.nav-link{
    font-size: 100%;
    font-weight: 400;
    color: #fff;
}

.nav-link:hover{
    color: #4f4f55;
    font-family: 'Nunito', sans-serif;
}

.nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
    color: #482ff7;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
		z-index: 15;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #2c2d30;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }}